.titulo{
    display: inline;
    font-family: Verdana, Arial, sans-serif;
    font-size: 120%;

}

.config-container{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 2%;
    width: 100%;
    margin: auto;
}

.links{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 75%;
    padding-top: 13%;
    text-decoration: none;
}

.links:hover{
    font-size: 85%;
}